@typeparam T

<MudGrid Justify="Justify.Center">
    @if (!string.IsNullOrWhiteSpace(Name))
    {
        <MudItem xs="_nameXS" Class="align-self-center">
            <MudText Align="Align.Center" Typo="Typo.h5">@Name = </MudText>
        </MudItem>
    }
    
    <MudItem xs="_matrixXS">
        @if (Matrix == null)
        {
            <MudProgressCircular Indeterminate="true"></MudProgressCircular>
        }
        else
        {
            <MudSimpleTable Striped="false" Bordered="true">
                <tbody>
                    @for (int i = 0; i < Matrix.RowsCount; i++)
                    {
                        int row = i;
                        <tr>
                            @for (int j = 0; j < Matrix.ColsCount; j++)
                            {
                                int col = j;
                                <td>
                                    @if (Editable)
                                    {
                                        <MudNumericField T="T" @bind-Value="Matrix[row, col]" Variant="Variant.Text"/>
                                    }
                                    else
                                    {
                                        <MudText>
                                            @Matrix[row, col]
                                        </MudText>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudItem>
</MudGrid>
